<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="fromAddress" value="admin@rjcgraham.onmicrosoft.com" />
    <add key="publishAddresses" value="admin@rjcgraham.onmicrosoft.com,admin@rjcgraham.onmicrosoft.com" />
    <add key="reviewerAddresses" value="admin@rjcgraham.onmicrosoft.com" />  
    <add key="smtpHost" value="smtp.sendgrid.net" />
    <add key="smtpPort" value="587" />
    <add key="webUrl" value="https://rjcgraham.sharepoint.com/teams/webcorlessonslearned" />
    <add key="notificationActive" value="True" />
    <add key="AppWebRemoteServiceUrl" value="https://webcorlessonslearnedappweb.azurewebsites.net/services/LessonsLearnedRemoteEventReceiver.svc" />
    <add key="ActionUrl" value="https://webcorlessonslearnedappweb.azurewebsites.net/Pages/Publish.aspx?SPHostUrl=https%3A%2F%2Frjcgraham%2Esharepoint%2Ecom%2Fteams%2Fwebcorlessonslearned&amp;SPListItemId={ItemId}&amp;SPListId={ListId}" />
  </appSettings> 
  <runtime> 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
          <dependentAssembly> 
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" /> 
          </dependentAssembly> 
      </assemblyBinding> 
  </runtime>
</configuration>
